{% extends 'base.html.twig' %}
{% block content %}
    <section id="inner-headline" style="margin-bottom: 150px;">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="inner-heading">
                        <h2>Mot de passe oublié</h2>
                    </div>
                </div>
                <div class="span6">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('homepage') }}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="#">Sécurité</a><i class="icon-angle-right"></i></li>
                        <li class="active">Mot de passe oublié<li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row" style="margin-bottom: 150px;">


            <div class="modal styled" style="margin: auto"  aria-hidden="true" >

                <div class="modal-header">

                    <h4 ><strong>Demande de réinitialisation </strong></h4>

                </div>
                <div class="modal-body">
                    {% for message in app.session.flashbag.get('info') %}
                        <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}

                    {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}

                    {{ form_errors(form) }}
                    <div class="control-group">
                        <div class="control-label">
                        {{ form_label(form.email, "Entrez votre email") }}
                        </div>
                        {{ form_errors(form.email) }}
                        <div class="controls">

                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <div class="control-group">
<div class="controls">
                            <button type="submit" class="btn">valider</button>
</div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}