{% extends 'base.html.twig' %}
{% block content %}
    <section id="inner-headline" style="margin-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="inner-heading">
                        <h2>Réinitialisation</h2>
                    </div>
                </div>
                <div class="span6">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('homepage') }}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="#">Sécurité</a><i class="icon-angle-right"></i></li>
                        <li class="active">Réinitialisation<li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row" style="margin-bottom: 100px;">


            <div class="modal styled" style="margin: auto"  aria-hidden="true" >

                <div class="modal-header">

                    <h4 ><strong>Nouveau mot de passe</strong></h4>

                </div>
                <div class="modal-body">
                    {% for message in app.session.flashbag.get('info') %}
                        <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}

                    {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
                    {{ form_errors(form) }}


                    <div class="control-group">
                        <div class="control-label">
                        {{ form_label(form.password.first, "Nouveau mot de passe") }}
                        </div>
                        {{ form_errors(form.password.first) }}
                        <div class="controls">
                        {{ form_widget(form.password.first) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label">
                        {{ form_label(form.password.second, "Confirmez le nouveau mot de passe") }}
                        </div>
                        {{ form_errors(form.password.second) }}
                        <div class="controls">
                        {{ form_widget(form.password.second) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                        <button type="submit" class="btn">valider</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}