{% extends 'base.html.twig' %}
{% block content %}
    <section id="featured">
        <!-- start slider -->
        <!-- Slider -->
        <div id="nivo-slider">
            <div class="nivo-slider">
                <!-- Slide #1 image -->
                <img src="{{ asset('img/slides/nivo/medailles.jpg') }}" alt="" title="#caption-1"/>
                <!-- Slide #2 image -->
                <img src="{{ asset('img/slides/nivo/cayenne.jpg') }}" alt="" title="#caption-2"/>
                <!-- Slide #3 image -->
                <img src="{{ asset('img/slides/nivo/coq.jpg') }}" alt="" title="#caption-3"/>
            </div>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <!-- Slide #1 caption -->
                        <div class="nivo-caption" id="caption-1">
                            <div>
                                <h2>Bienvenue sur le site de l'ADACVG</h2>
                                <a href="{{ path('presentation') }}" class="btn btn-theme">Venez découvrir l'association</a>
                            </div>
                        </div>
                        <!-- Slide #2 caption -->
                        <div class="nivo-caption" id="caption-2">
                            <div>
                                <h2>Vous êtes ancien combattant, victime de guerre ou sympathisant? </h2>

                                <a href="{{ path('adhesion') }}" class="btn btn-theme">Devenez adhérent</a>
                            </div>
                        </div>
                        <!-- Slide #3 caption -->
                        <div class="nivo-caption" id="caption-3">
                            <div>
                                <h2>Vous voulez en savoir plus?</h2>

                                <a href="{{ path('contact') }}" class="btn btn-theme">Contactez-nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end slider -->
    </section>
    <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="big-cta">
                        <div class="cta-text">
                            <h4>Qui sommes-nous?</h4>
                            <p>L’Association Départementale des Anciens Combattants et Victimes de Guerre de la GUYANE (ADACVG GUYANE) existe depuis 1944.
                                L’ADACVG GUYANE fédère des anciens combattants, des victimes de guerre, des ressortissants (veuves, veufs d’ancien combattant…)
                                de l’Office National des Anciens Combattants et Victimes de Guerre ainsi que des sympathisants (descendants d’anciens combattants,
                                famille d’anciens combattants…) qui ont vocation à soutenir les anciens combattants et les victimes de guerre de la GUYANE française et à entretenir le « devoir de mémoire ».</p>
                        </div>
                        <div class="cta floatright">
                            <a class="btn btn-large btn-theme btn-rounded" href="{{ path('presentation') }}">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span-12">
                    <h4>Nos dernières actualités</h4>
                </div>
            </div>

            <div class="row">
    {% for article in lastArticles %}
                <div class="span4">
                    <div class="box alignleft">

                        <div class="text">
                            <h6 style="border-bottom: solid 1px">{{ article.title }}</h6>
                            <p><i class="icon-calendar"></i> Ajouté le {{ article.date|date('d/m/Y') }}</p>
                            <p>
                                {{ article.limitedText|raw }}
                            </p>
                            <a href="{{ path ('article', {'id': article.id}) }}">Lire la suite</a>
                        </div>
                    </div>
                </div>
        {% endfor %}


            </div>


            <!-- divider -->
            <div class="row">
                <div class="span12">
                    <div class="solidline">
                    </div>
                </div>
            </div>
            <!-- end divider -->
            <!-- Portfolio Projects -->
            <div class="row">
                <div class="span12">
                    <h4 class="heading">Galerie photos</h4>
                    <div class="row">
                        <section id="projects">
                            <ul id="thumbs" class="portfolio">
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 design" data-id="id-0" data-type="web">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="La cathédrale Saint-Sauveur de Cayenne"
                                       href="{{ asset('img/works/full/image-01-full.jpg') }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ asset('img/works/thumbs/image-01.jpg') }}"
                                         alt="Commencée en 1825, elle fut achevée en 1833. Elle est classée monument historique depuis 1992.">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 design" data-id="id-1" data-type="icon">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Préfecture de Cayenne"
                                       href="{{ asset('img/works/full/image-02-full.jpg') }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ asset('img/works/thumbs/image-02.jpg') }}"
                                         alt="À l'origine, le bâtiment construit entre 1749 et 1752, abrite un couvent de Jésuites. Au début du xixe siècle, il devient hôtel du gouvernement, puis hôtel de la préfecture en 1947">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 photography" data-id="id-2" data-type="illustrator">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Monument Félix Eboué"
                                       href="{{ asset('img/works/full/image-03-full.jpg') }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ asset('img/works/thumbs/image-03.jpg') }}"
                                         alt="La statue de Félix Éboué est un monument historique cayennais situé sur la place des Palmistes. Elle a été réalisée en hommage à Félix Éboué, grand homme politique guyanais. Au même titre que la place des Palmistes, la statue est classée au titre des monuments historiques depuis 1999">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 photography" data-id="id-2" data-type="illustrator">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Carré militaire"
                                       href="{{ asset('img/works/full/image-04-full.jpg') }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ asset('img/works/thumbs/image-04.jpg') }}"
                                         alt="Carré militaire du cimetière de Cayenne où repose notamment le soldat BORICAL Saint-Just du 119ème Régiment d'Infanterie mort pour la France le 13 juin 1916.">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 photography" data-id="id-4" data-type="web">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Cimetière de Cayenne - Monument 14 18"
                                       href="{{ asset('img/works/full/image-05-full.jpg') }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ asset('img/works/thumbs/image-05.jpg') }}"
                                         alt="Le monument est composé de trois cippes empilés, séparés par un chapiteau qui confère au monument, une forme pyramidale. Trois noms sont gravés : Eugène Pindard, Ulysse Chauvet et Victor Charlery qui n’est pas mort à la guerre 14-18 mais en 1920, au Tonkin.">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 photography" data-id="id-5" data-type="icon">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Monument Mapa"
                                       href="{{ asset('img/works/full/image-06-full.jpg') }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ asset('img/works/thumbs/image-06.jpg') }}"
                                         alt="Monument à la gloire des soldats et marins français morts à Mapa (Brésil) en mai 1895">
                                </li>
                                <!-- End Item Project -->


                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <!-- End Portfolio Projects -->
            <!-- divider -->
            <div class="row">
                <div class="span12">
                    <div class="solidline">
                    </div>
                </div>
            </div>
            <!-- end divider -->
            <div class="row">
                <div class="span12">
                    <h4>Nos partenaires</h4>
                    <ul id="mycarousel" class="jcarousel-skin-tango recent-jcarousel clients">
                        <li>
                            <a href="http://le-souvenir-francais.fr/">
                                <img src="img/dummies/clients/client1.png" class="client-logo" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="http://www.onac-vg.fr/fr/">
                                <img src="img/dummies/clients/client2.png" class="client-logo" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.unc.fr/">
                                <img src="img/dummies/clients/client3.png" class="client-logo" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/dummies/clients/client4.png" class="client-logo" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/dummies/clients/client5.png" class="client-logo" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/dummies/clients/client6.png" class="client-logo" alt="" />
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="img/dummies/clients/client7.png" class="client-logo" alt="" />
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="img/dummies/clients/client8.png" class="client-logo" alt="" />
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="img/dummies/clients/client9.png" class="client-logo" alt="" />
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="img/dummies/clients/client10.png" class="client-logo" alt="" />
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="img/dummies/clients/client11.png" class="client-logo" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}