{% extends 'base.html.twig' %}
{% block content %}
    <section id="featured">
        <!-- start slider -->
        <!-- Slider -->
        <div id="nivo-slider">
            <div class="nivo-slider">
                <!-- Slide #1 image -->
                <img src="{{ asset('img/slides/nivo/bg-1.jpg') }}" alt="" title="#caption-1"/>
                <!-- Slide #2 image -->
                <img src="{{ asset('img/slides/nivo/bg-2.jpg') }}" alt="" title="#caption-2"/>
                <!-- Slide #3 image -->
                <img src="{{ asset('img/slides/nivo/bg-3.jpg') }}" alt="" title="#caption-3"/>
            </div>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <!-- Slide #1 caption -->
                        <div class="nivo-caption" id="caption-1">
                            <div>
                                <h2>Bienvenue sur le site de l'ADACVG</h2>
                                <a href="#" class="btn btn-theme">Venez découvrir l'association</a>
                            </div>
                        </div>
                        <!-- Slide #2 caption -->
                        <div class="nivo-caption" id="caption-2">
                            <div>
                                <h2>Vous êtes ancien combattant? </h2>

                                <a href="#" class="btn btn-theme">Devenez adhérent</a>
                            </div>
                        </div>
                        <!-- Slide #3 caption -->
                        <div class="nivo-caption" id="caption-3">
                            <div>
                                <h2>Vous voulez en savoir plus?</h2>

                                <a href="#" class="btn btn-theme">Contactez-nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end slider -->
    </section>
    <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="big-cta">
                        <div class="cta-text">
                            <h4>Qui sommes-nous?</h4>
                            <p>Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante
                                perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias
                                esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita
                                amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia
                                quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.</p>
                        </div>
                        <div class="cta floatright">
                            <a class="btn btn-large btn-theme btn-rounded" href="#">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span-12">
                    <h4>Nos dernières actualités</h4>
                </div>
            </div>

            <div class="row">
    {% for article in lastArticles %}
                <div class="span4">
                    <div class="box alignleft">
                        <div class="alignaleft icon;" style="border-bottom: solid 1px;">
                            <i class="icon-pencil icon-circled icon-64 active"></i>
                        </div>
                        <div class="text">
                            <h6>{{ article.title }}</h6>
                            <p><i class="icon-calendar"></i> Ajouté le {{ article.date|date('d/m/Y') }}</p>
                            <p>
                                {{ article.content }}
                            </p>
                            <a href="#">Learn more</a>
                        </div>
                    </div>
                </div>
        {% endfor %}


            </div>


            <!-- divider -->
            <div class="row">
                <div class="span12">
                    <div class="solidline">
                    </div>
                </div>
            </div>
            <!-- end divider -->
            <!-- Portfolio Projects -->
            <div class="row">
                <div class="span12">
                    <h4 class="heading">Galerie photos</h4>
                    <div class="row">
                        <section id="projects">
                            <ul id="thumbs" class="portfolio">
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 design" data-id="id-0" data-type="web">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="La cathédrale Saint-Sauveur de Cayenne"
                                       href="{{ asset('img/works/full/image-01-full.jpg') }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ asset('img/works/thumbs/image-01.jpg') }}"
                                         alt="Commencée en 1825, elle fut achevée en 1833. Elle est classée monument historique depuis 1992.">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 design" data-id="id-1" data-type="icon">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Office"
                                       href="{{ asset('img/works/full/image-02-full.jpg') }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ asset('img/works/thumbs/image-02.jpg') }}"
                                         alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 photography" data-id="id-2" data-type="illustrator">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains"
                                       href="{{ asset('img/works/full/image-03-full.jpg') }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ asset('img/works/thumbs/image-03.jpg') }}"
                                         alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 photography" data-id="id-2" data-type="illustrator">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains"
                                       href="{{ asset('img/works/full/image-04-full.jpg') }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ asset('img/works/thumbs/image-04.jpg') }}"
                                         alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 photography" data-id="id-4" data-type="web">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Sea"
                                       href="{{ asset('img/works/full/image-05-full.jpg') }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ asset('img/works/thumbs/image-05.jpg') }}"
                                         alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 photography" data-id="id-5" data-type="icon">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clouds"
                                       href="{{ asset('img/works/full/image-06-full.jpg') }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ asset('img/works/thumbs/image-06.jpg') }}"
                                         alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                                </li>
                                <!-- End Item Project -->


                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <!-- End Portfolio Projects -->


        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}