{% extends 'base.html.twig' %}
{% block title %}Conseil d'administration -{% endblock %}
{% block description %}Présentation des membres du conseil d'administration et des porte-drapeaux {% endblock %}
{% block content %}


    <!-- end header -->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="inner-heading">
                        <h2>Conseil d'administration</h2>
                    </div>
                </div>
                <div class="span6">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('homepage') }}"><i class="icon-home"></i></a><i
                                    class="icon-angle-right"></i></li>
                        <li><a href="#">L'association</a><i class="icon-angle-right"></i></li>
                        <li class="active">Le conseil d'administration</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">


            <!-- end divider -->
            <div class="row">
                <div class="span12">
                    <h4 style="border-bottom: 1.5px solid">Membres du conseil d'administration</h4>
                </div>
            </div>
            <div class="row">

                <div class="span3">
                    <img src="{{ asset('img/dummies/team4.jpg') }}" alt="" class="img-polaroid"/>
                    <div class="roles">
                        <p class="lead">
                            <strong>Gildebert CAROLÉ </strong>
                        </p>
                        <p>
                            Président
                        </p>
                    </div>
                </div>
                <div class="span3">
                    <img src="{{ asset('img/dummies/team3.jpg') }}" alt="" class="img-polaroid"/>
                    <div class="roles">
                        <p class="lead">
                            <strong>Frédy LUCAS</strong>
                        </p>
                        <p>
                            1er vice-président
                        </p>
                    </div>
                </div>
                <div class="span3">
                    <img src="{{ asset('img/dummies/team6.jpg') }}" alt="" class="img-polaroid"/>
                    <div class="roles">
                        <p class="lead">
                            <strong>Jacques GUERITAULT</strong>
                        </p>
                        <p>
                            2ème vice-président
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="span3">
                    <img src="{{ asset('img/dummies/team8.jpg') }}" alt="" class="img-polaroid"/>
                    <div class="roles">
                        <p class="lead">
                            <strong>Jean-Yves LOYEN</strong>
                        </p>
                        <p>
                            Trésorier
                        </p>
                    </div>
                </div>
                <div class="span3">
                    <img src="{{ asset('img/dummies/team5.jpg') }}" alt="" class="img-polaroid"/>
                    <div class="roles">
                        <p class="lead">
                            <strong>Jeanne GOLITIN</strong>
                        </p>
                        <p>
                            Trésorière adjointe
                        </p>
                    </div>
                </div>
                <div class="span3">
                    <img src="{{ asset('img/dummies/team6.jpg') }}" alt="" class="img-polaroid"/>
                    <div class="roles">
                        <p class="lead">
                            <strong>Bernardin PAULY</strong>
                        </p>
                        <p>
                            Secrétaire
                        </p>
                    </div>
                </div>
                <div class="span3">
                    <img src="{{ asset('img/dummies/team2.jpg') }}" alt="" class="img-polaroid"/>
                    <div class="roles">
                        <p class="lead">
                            <strong>Albert CINCINNAT</strong>
                        </p>
                        <p>
                            Administrateur
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h4 style="border-bottom: 1.5px solid">Porte-drapeaux</h4>

                </div>
            </div>

            <div class="row">
                <div class="span3">
                    <img src="{{ asset('img/dummies/team2.jpg') }}" alt="" class="img-polaroid"/>
                    <div class="roles">
                        <p class="lead">
                            <strong>Albert CINCINNAT</strong>
                        </p>

                    </div>
                </div>
                <div class="span3">
                    <img src="{{ asset('img/dummies/team1.jpg') }}" alt="" class="img-polaroid"/>
                    <div class="roles">
                        <p class="lead">
                            <strong>Claude NICOLAS</strong>
                        </p>

                    </div>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </section>



{% endblock %}