{% extends 'base.html.twig' %}
{% block title %}Contact -{% endblock %}
{% block description %}Contactez-nous!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">

        #iw .title {

            font-size: 18px;
            font-weight: 400;
            padding: 10px;
            background-color: #F03C02;
            color: white;

        }

        #iw {
            padding: 10px;
            border: 1px solid #000000;
        }



    </style>
    {% endblock %}
{% block content %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success" style="margin-bottom: 0">

            <strong>{{  message }}</strong>
        </div>

    {% endfor %}
    <section id="inner-headline">
        <div class="container">

            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Contact</h2>
                    </div>
                </div>
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('homepage') }}"><i class="icon-home"></i></a><i
                                    class="icon-angle-right"></i></li>
                        <li class="active">Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div id="map" style="margin-bottom: 40px;" >
            <iframe width="100%" height="300px" frameborder="0" allowfullscreen src="http://umap.openstreetmap.fr/fr/map/adacvg973_344225?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe><p><a href="http://umap.openstreetmap.fr/fr/map/adacvg973_344225">Voir en plein écran</a></p>

        <div class="container">
            <div class="row">
                <div class="span12">
                    <h4>Contactez-nous <strong>en remplissant le formulaire ci-dessous</strong></h4>
                    <div class="contactForm">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}

                        {% for message in app.flashes('notice') %}
                            <div class="flash-notice">  {{ message }}</div>
                        {% endfor %}

                        <div class="row">
                            <div class="span4 form-group">
                                {{ form_errors(form.name) }}
                                {{ form_widget(form.name,{'attr': {'placeholder':'Votre nom', 'class':'form-control' }}) }}
                            </div>

                            <div class="span4 form-group">
                                {{ form_errors(form.email) }}
                                {{ form_widget(form.email,{'attr': {'placeholder': 'Votre email', 'class':'form-control'}}) }}
                            </div>

                            <div class="span4 form-group">
                                {{ form_errors(form.subject) }}
                                {{ form_widget(form.subject,{'attr': {'placeholder': 'Objet', 'class':'form-control'}}) }}
                            </div>

                            <div class="span12 margintop10 form-group">
                                {{ form_errors(form.message) }}
                                {{ form_widget(form.message, {'attr': {'placeholder': 'Message','class':'form-control', 'rows':'12'}}) }}

                                <p class="text-center">
                                    <button class="btn btn-large btn-theme margintop10" type="submit">Envoyer
                                    </button>
                                </p>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}




