{% extends 'base.html.twig' %}
{% block title %}Actualités {% endblock %}
{% block content %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Actualités</h2>
                    </div>
                </div>
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('homepage') }}"><i class="icon-home"></i></a><i
                                    class="icon-angle-right"></i></li>
                        <li class="active">Actualités</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <aside class="left-sidebar">
                        <div class="widget">
                            <form action = "{{ path('search') }}" method="post" class="form-search">
                                {% for message in app.flashes('notice') %}
                                    <div class=" alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                <input placeholder="Entrez un mot-clé" type="text" class="input-medium search-query" name="key">
                                <button type="submit" class="btn btn-square btn-theme">Rechercher</button>
                            </form>
                        </div>
                        <div class="widget">
                            <h5 class="widgetheading">Evènements à venir</h5>
                            <ul class="recent">
                                {% for event in listEvents %}
                                    <li>
                                        <h6 style="font-size: 1.2em">{{ event.name }}</h6>
                                        <p>
                                            <i class="icon-calendar"></i>{{ event.date|date('d/m/Y') }}
                                        </p>
                                        <p>
                                            <i class="icon-map-marker"></i>{{ event.place }}
                                        </p>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="span8">
                    {% for article in listArticles %}
                        <article>
                            <div class="row">
                                <div class="span8">
                                    <div class="post-image">
                                        <div class="post-heading">
                                            <h3>
                                                <a href="{{ path ('article', {'id': article.id}) }}">{{ article.title }}</a>
                                            </h3>
                                        </div>
                                        {% for image in article.images %}
                                            <img src="{{ asset(('uploads/articles/images/' ~ image.image)| imagine_filter('my_thumb')) }}"
                                                 alt="{{ image.image }}" style="margin-bottom: 3px" >

                                        {% endfor %}
                                    </div>
                                    <p>
                                        {{ article.limitedText|raw }}
                                    </p>
                                    <div class="bottom-article">
                                        <ul class="meta-post">
                                            <li><i class="icon-calendar"></i><a
                                                        href="#"> {{ article.date|date('d/m/Y') }}</a></li>
                                        </ul>
                                        <a href="{{ path ('article', {'id': article.id}) }}" class="pull-right">Lire la
                                            suite <i class="icon-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}


                    <div id="pagination">


                        {% for p in range(1, nbPages) %}
                            {% if p == page %}
                                <span class="current">{{ p }}</a></span>
                            {% else %}
                                <a href="{{ path('actualites', {'page': p}) }}" class="inactive"> {{ p }}</a>
                            {% endif %}



                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}