{% extends 'base.html.twig' %}
{% block title %}Recherche {% endblock %}
{% block content %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span8">

                    <div class="inner-heading">
                        {% if nbResults < 2 %}
                            <h2>{{ nbResults }} résultat pour "{{ key }}"</h2>
                        {% else %}
                            <h2>{{ nbResults }} résultats pour "{{ key }}"</h2>
                        {% endif %}
                    </div>

                </div>
                <div class="span4">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('homepage') }}"><i class="icon-home"></i></a><i
                                    class="icon-angle-right"></i></li>
                        <li><a href="{{ path('actualites') }}">Actualités</a><i
                                    class="icon-angle-right"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <aside class="left-sidebar">
                        <div class="widget">
                            <form action = "{{ path('search') }}" method="post" class="form-search">
                                <input placeholder="Entrez un mot-clé" type="text" class="input-medium search-query" name="key">
                                <button type="submit" class="btn btn-square btn-theme">Rechercher</button>
                            </form>
                        </div>

                    </aside>
                </div>
                <div class="span8">

                    <article>
                        <div class="row">
                            <div class="span8">
                                {% for result in listResults %}
                                    <h4> <strong>{{ result.title }} </strong></h4>
                                    <p> {{ result.limitedText|raw }} </p>
                                     <a href="{{ path ('article', {'id': result.id}) }}"><i class="icon-circle-arrow-right icon-square active icon-32"></i></a>
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

    </section>
{% endblock %}